{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "L": false
  },
  "rules": {
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "no-mixed-operators": [
      "off",
      {
        "allowSamePrecedence": true
      }
    ],
    "max-len": [
      "off"
    ],
    "no-console": "off",
    "react/prop-types": "off",
    "linebreak-style": "off",
    "import/first": "off",
    // "no-unused-vars": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "import/no-mutable-exports": "off",
    " func-names":"off"
    
  },
  "plugins": [
    "react"
  ]
}